@import "tailwindcss";

/* Navbar */
#main-navbar {
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

#main-navbar.scrolled {
  background-color: white !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1) !important;
}

#main-navbar.scrolled * {
  color: #1f2937 !important;
}

#main-navbar.scrolled span.text-blue-100 {
  color: #2563eb !important;
}

#main-navbar.scrolled .border-white {
  border-color: #d1d5db !important;
}

#main-navbar.scrolled .bg-white {
  background-color: #d1d5db !important;
}

.animate-kenburns {
  animation: kenburns 30s ease-in-out infinite alternate;
}

@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes slowZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.animate-slow-zoom {
  animation: slowZoom 20s linear infinite alternate;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in-up {
  animation: fadeInUp 1s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  opacity: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
